img {
  /* Your code goes here */
}

.words {
  font-family: impact;
  font-size: 60px;
}

.first {
  /* Your code goes here */
}

.heart {
  color: red;
  font-size: 80px;
  /* Your code goes here */
}

.last {
  /* Your code goes here */
}
